body {
  color: #000;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}
.scoresheet-heading {
  height: 50px;
}
.scoresheet table {
  border-collapse: collapse;
  width: 100%;
}
.scoresheet th, .scoresheet td {
  border: solid 1px #000;
  padding: 5px 15px;
}
.scoresheet tr {
  height: 35px;
}
.scoresheet tr:nth-child(2n+1) {
  background-color: #eee;
}
.head-row {
  font: 8pt Helvetica;
}
.team-name {
  font: 10pt Helvetica;
  width: 300px;
}
